* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background: linear-gradient(to bottom, #316EFA, #0547B2);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;          
    /* justify-content: space-between; */
}

.sidebar .profile {
    text-align: center;
}

.sidebar .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar .menu {
    margin-top: 20px;
}

.sidebar .menu button {
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    background: white;
    color: #0866FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.sidebar .menu button:hover {
    background: #428AFF;
    color: #FBFBFB;
}

.sidebar .signout {
    text-align: center;
}

.sidebar .signout button {
    background: white;
    color: #0047ff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.main-content {
    width: 80%;
    padding: 20px;
}

.header {
    background: linear-gradient(to right, #428AFF, #285399);
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 24px;
}

.header .hours-complete {
    font-size: 24px;
    font-weight: bold;
}

.time-tracker {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.time-tracker h2 {
    margin-bottom: 10px;
}

.time-tracker table {
    width: 100%;
    border-collapse: collapse;
}

.time-tracker table th,
.time-tracker table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.time-tracker table th {
    background: #0047ff;
    color: white;
}

.non-compliance {
    margin-top: 20px;
    background: #ffcccc;
    padding: 20px;
    border-radius: 10px;
}

.non-compliance h2 {
    color: #ff0000;
    margin-bottom: 10px;
}